.translationBox {
    margin: auto;
    width: 100%;
    min-height: calc(100vh - 250px - 48px);
    height: calc(100vh - 250px - 48px);
    max-height: calc(100vh - 250px - 48px);
    border: none;
    padding: 1rem 0;
    pointer-events: none;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--white-100);
    border: 1px dashed var(--white-200);
    border-radius: 4px;
}
.translationContainer {
    min-height: calc(100vh - 250px - 16px);
    height: calc(100vh - 250px - 16px);
    max-height: calc(100vh - 250px - 16px);
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
    position: relative;
}
.loadingStyle {
    width: 250px;
    height: 250px;
    margin: auto;
}
